@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlacementManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/PlacementManagement.styles.css" asp-append-version="true" />

</head>
<body>
    <header>        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/vk.png" style="max-width:30%;" alt="Vader Kings"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>  
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("College"))
                        {                            
                           <li>
                              <a class="nav-link text-dark" asp-area="" asp-controller="CollegeDashboard" asp-action="Index">My Dashboard</a>
                           </li> 
                        }
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Company"))                          
                        {
                           <li>
                              <a class="nav-link text-dark" asp-area="" asp-controller="CompanyDashboard" asp-action="Index">My Dashboard</a>
                           </li> 
                        }                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @{
                var errorMessage = TempData["ErrorMessage"]?.ToString();
                var successMessage = TempData["SuccessMessage"]?.ToString();

                if (!string.IsNullOrWhiteSpace(@successMessage))
                {
                    <div class="alert alert-success" role="alertdialog">
                        @successMessage
                        <div class="float-end">
                            &times;
                        </div>
                    </div>
                }
                else if (!string.IsNullOrWhiteSpace(@errorMessage))
                {
                    <div class="alert alert-danger" role="alertdialog">
                        @errorMessage
                        <div class="float-end">
                            &times;
                        </div>
                    </div>
                }
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PlacementManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/customjs.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
