@{
    ViewData["Title"] = "My Dashboard";

}
<div class="row g-0">
    <div class="col-lg-12">
        <div class="card-body p-md-5 mx-md-4">
            <div class="card">
                <h5 class="card-header">Student Information</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-danger" asp-area="" asp-controller="Student" asp-action="Index">My Students</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-0">
    <div class="col-lg-12">
        <div class="card-body p-md-5 mx-md-4">
            <div class="card">
                <h5 class="card-header">Placement Requests from Companies</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-danger" asp-area="" asp-controller="PlacementRequest" asp-action="Index">Company Placement Requests</a>
                </div>
            </div>
        </div>
    </div>
</div>
